.small-hero {
    @include backgroundImage("../imgs/biblestudy.jpg");
    box-shadow: 10px 10px 30px -2px rgba(227,227,227,1);
}
.margined {
    width: 80%;
    margin: auto;
    @media screen and (max-width: $mobile_size) {
        width: 95%;
    }
}
.text-section {
    background-color: #f9f9f9;
    letter-spacing: 1px;
}